PORT=5000
MONGODB_URI=mongodb://localhost:27017/chaat-whalla
JWT_ACCESS_SECRET=replace_with_a_long_random_secret
JWT_REFRESH_SECRET=replace_with_a_different_long_random_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
